@import '@styles/variables';
@import '@styles/mixins';

.container {
    display: grid;
    grid-template-columns: max(12.5rem, 20%) 1fr max(12.5rem, 20%);
    grid-template-rows: 1fr;

    height: calc(100vh - (2 * $pw-size-lg));
    padding: $pw-size-lg;

    @include on-mobile {
        padding: $pw-size-sm;
        grid-template-columns: 1fr;

        header, aside, main, footer {
            grid-column: 1 / 3;
        }
    };

    header {
        display: none;

        @include on-mobile {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 50px;
        };
    }

    aside {
        display: flex;
        position: fixed;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        grid-row: 1 / 3;

        nav {
            @include on-mobile {
                display: none;
            };
        }
    }
}