body {
    margin: 0;
    background-color: $pw-color-white;
}

body, html, div#__next {
    height: 100vh;
}

html, body, p {
    @include text;
}

h1 {
    @include heading-1;
}

h2 {
    @include heading-2;
}

h3 {
    @include heading-3;
}

a {
    text-decoration: none;
    color: inherit;
}