body {
    margin: 0;
    background-color: $pw-color-white;
}

body, html, div#__next {
    height: 100vh;
}

html, body, p {
    @include text;
}

h1 {
    @include heading-1;
}

h2 {
    @include heading-2;
}

h3 {
    @include heading-3;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

input, textarea {
    border: none;
    background-color: $pw-color-gray;
    padding: $pw-size-sm;
    box-shadow: $pw-elevation-negative;
    border-radius: $pw-border-radius;
}