@mixin font($style, $color) {
    font-family: $pw-font;
    font-style: $style;
    color: $color;
}

@mixin heading($weight, $size) {
    @include font($pw-style-heading, $pw-color-heading);
    font-weight: $weight;
    font-size: $size;
}

@mixin heading-1 {
    @include heading($pw-weight-heading-1, $pw-size-heading-1);
}

@mixin heading-2 {
    @include heading($pw-weight-heading-2, $pw-size-heading-2);
}

@mixin heading-3 {
    @include heading($pw-weight-heading-3, $pw-size-heading-3);
}

@mixin text {
    @include font($pw-style-text, $pw-color-text);
    font-weight: $pw-weight-text;
    font-size: $pw-size-text;
}

@mixin on-media($from, $to) {
    @media screen and (min-width: $from) and (max-width: $to) {
        @content;
    }
}

@mixin on-mobile {
    @include on-media(0px, $pw-breakpoint-mobile) {
        @content;
    }
}

@mixin on-tablet {
    @include on-media(calc($pw-breakpoint-mobile + 1px), $pw-breakpoint-tablet) {
        @content;
    }
}

@mixin on-laptop {
    @include on-media(calc($pw-breakpoint-tablet + 1px), $pw-breakpoint-laptop) {
        @content;
    }
}